.container {
  background: linear-gradient(to bottom right, #0D0E33, #007BFF);
}

  .wallet-adapter-button-trigger {
    background-color: #833BBE;
  }
  #entho{
    background: linear-gradient(to bottom, #8B00FF, #EE82EE);  }